extends ./head
block head
    .all-wrapper
        .header
            .upper-header
                .navbar-wrapper
                    a.navbar-title-wrapper(href='/')
                        .title-text RUNWAY ISTANBUL
                a.translation-wrapper
                    .translation-button#en EN 
                    .translation-button#tr TR
                    .responsive-sidebar-icon#sidebar-button
                        .responsive-sidebar-icon-bar
                        .responsive-sidebar-icon-bar
                        .responsive-sidebar-icon-bar
            .lower-header
                .navbar-items-wrapper
                        a.each-navbar-item(href='/fashion')= __('FASHON')
                        a.each-navbar-item(href='/page')= __('RUNWAY')
                        a.each-navbar-item(href='/page')= __('BEAUTY')
                        a.each-navbar-item(href='/page')= __('CULTURE & ART')
                        a.each-navbar-item(href='/paeg')= __('LIVING')
                        a.each-navbar-item(href='/paeg')= __('SHOPPING')
                        a.each-navbar-item(href='/paeg')= __('VIDEOS')
        block content