extends ../partials/header
block content
    .all-content-wrapper
        .featured-wrapper
            for article in articles.articles
                if article.is_featured
                    .main-featured-image-wrapper
                        img.main-featured-image(src=article.thumbnail width='100%' height='100%')
                    .main-featured-text-wrapper
                        .main-featured-title-wrapper
                            .main-featured-title-text #{article.name}
                        .main-featured-description-wrapper
                            .main-featured-description-text #{article.description}
        .news-wrapper
            for article in articles.articles
                if !article.is_featured
                    a.each-article-wrapper(href='/article/' + article._id)
                        .each-article-image-wrapper 
                            img.each-article-image(src=article.thumbnail width='100%' height='100%')
                        .each-article-text-wrapper 
                            .each-article-title-wrapper #{article.name}
                            .each-article-description-wrapper #{article.description}
                            .each-article-author-wrapper #{article.author}
        .footer-wrapper
            .footer-title-wrapper Runway Istanbul 
            .footer-text-wrapper
                .each-footer-wrapper= __('Privacy Policy')
                .each-footer-wrapper 2023
                .each-footer-wrapper instagram_logo
    .responsive-sidebar-wrapper#sidebar
        a.sidebar-title-text-wrapper(href='/')
            .title-text Title
        .sidebar
            a.each-sidebar-item(href='/page')= __('Page')
            a.translation-wrapper
                .translation-button#lang1 Lang1 
                .translation-button#lang2 Lang2             